src/main/java/HomeTask17/resources/fileSecond.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message" type="MessageType"/>
  <xs:complexType name="MessageDetailsType">
    <xs:sequence>
      <xs:element type="xs:string" name="MessageId"/>
      <xs:element type="xs:string" name="Datatype"/>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="xs:string" name="DatatypeDescription"/>
      <xs:element type="xs:string" name="OriginalFilename"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IssuesType">
    <xs:sequence>
      <xs:element type="IssueType" name="Issue" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element type="xs:string" name="DateTime"/>
      <xs:element type="xs:string" name="CustomerId"/>
      <xs:element type="xs:string" name="CompanyName"/>
      <xs:element type="xs:string" name="CustomerNumber"/>
      <xs:element type="MessageDetailsType" name="MessageDetails"/>
      <xs:element type="IssuesType" name="Issues"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>